@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* End of the Reset :) */



/* Méretek */

html, body, * {
  font-size: 100%;
  font-family: 'Krub'!important;
}

.vh100 {
  height: 100vh;
}

.vh50 {
  height: 50vh;
}

.vw100 {
  width: 100vh;
}

/* Ikonok*/

.icon_48px {
  display: flex;
  align-self: center;
}

/* Szinek */
$white: #FFFFFF;
$grey1: #DDDDDD;
$grey2: #D1D1D1;
$grey3: #BBBBBB;
$grey4: #A6A6A6;
$grey5: #868686;
$grey6: #676767;
$grey7: #000000;


/* TIPOGRÁFIA */

@import url('https://fonts.googleapis.com/css2?family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600&display=swap');


a { 
  font-family: 'Krub';
  font-size: 1rem;
}

.navbar-brand {
  font-weight: 700;
}

#navbar_title_span {
  font-weight: 300;
  margin-right: 2rem;
}

h1 {
  font-size: calc(100vw * 0.066);
  font-weight: 100;
  align-self: center;
  text-transform: uppercase;
}

.cim h2 {
  font-size: calc(100vw * 0.066);
  font-weight: 100;
  align-self: center;
  text-transform: uppercase;
  color: $grey7;
}

.projekt_nev {
  font-size: 2rem;
  font-weight: 300;
  color: $grey6;
}

h3 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2.25rem;
  text-transform: uppercase;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
}

/* Formázások innen */



/* HEADER */

html, body {
  width: 100%;
  scroll-behavior: smooth;
}

header {
  top: 0;
  left: 0;
  position: sticky;
  z-index: 9999;
}

.navbar {
  min-height: 4rem;
  background-color: $grey2!important;
}

.navbar-toggler-icon {
  color: $grey7!important;
}

.navbar-light .navbar-brand {
  color: $grey7!important;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, 
.navbar-light .navbar-nav .show>.nav-link {
  color: $grey7!important;
}

a.navbar-brand {
  border-bottom: 0.5rem solid #000000;
}

/* INTRO_LANDPAGE */

.box {
    width: 100%;
    height: auto;
    display: flex;
    overflow: hidden;
}

section {
  width: 100%;
  height: auto;
  display: flex;
  padding-bottom: 4rem;
}
  
.intro_container {
    min-height: -webkit-fill-available;
    height: 100vh;
    top: 0;
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: center;
    mix-blend-mode: multiply;
    background-color: $grey2;
    z-index: 1;
}

#video_box {
  height: 75%;
  width: 96%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  flex-grow: 1;
  justify-content: center;
  align-content: center;
  overflow: hidden;
  mix-blend-mode: multiply;
  align-self: center;
}

#video_box object {
    width: 100%;
    height: 100%;
    display: flex;
    align-self: center;
    object-fit: contain;
 //animation: sizer 7000ms infinite;
}

@keyframes sizer {
  0% { transform: scale(1 , 1);}
  50% {  transform:scale(1.02 , 1.02);}
  100% { transform: scale(1 , 1);}
}

#logo_box {
  height: 25%;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 1rem;
}

#logo_box object#intro_logo {
  width: 100%;
  height: calc(100% * 0.5);
  align-self: center;
  padding-bottom: 0.5rem;
}

#logo_box a  {
  display: flex;
  justify-content: center;
  width: 100%;
  height: calc(100% * 0.2);
}

#logo_box a img {

height: 100%;
animation: fadeIn 4000ms;
align-self: center;
padding-bottom: 0.5rem;
animation: 4000ms fadeIn 6000ms infinite;
}

@keyframes fadeIn {
  0% { opacity: 0;}
  50% { opacity: 1;}
  100% { opacity: 0;}
}

.separator_begin {
  position: relative;
  width: 100%;
  max-height: 50vh;
  overflow: hidden;
  display: flex;
  justify-content: center;

}
.separator, .separator_start, .separator_end {
  position: relative;
  width: 100%;
  max-height: 50vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  z-index: 1000;
}

.separator img {
  width: calc(100vw);
  height: fit-content;
  align-self: center;
}

.separator_begin img {
  width: calc(100vw);
  height: fit-content;
  align-self: center;
}

.separator_start img {
  width: calc(100vw);
  height: fit-content;
  align-self: center;
}


.separator_end img {
  width: calc(100vw);
  height: fit-content;
  align-self: center;
}

/*BEMUTATKOZAS_LANDPAGE*/

#bemutatkozas {
  width: 100%;
  height: auto;
  position: relative;
  background-color: $grey2;
  z-index: 2;
  overflow: hidden;
  flex-direction: column;

}


.title {
  width: 100vw;
  height: calc(100vh * 0.5);
  display: flex;
  flex-direction: row;
  position: relative;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.cim {
  width: calc(100vw * 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
}

.cim_balra {
  padding-left: calc(100vw * 0.1);
}
.cim_jobbra {
  padding-right: calc(100vw * 0.1);
}

#half_arrow_jobbra {
  display: flex;
  width: calc(100vw * 0.4);
  justify-content: flex-end;
  margin-right: -100px;
}

#half_arrow_jobbra a img {
  display: flex;
  height: auto;
  max-height: 100vh;
}

#half_arrow_balra {
  display: flex;
  width: calc(100vw * 0.4);
  justify-content: flex-start;
  margin-left: -100px;
}

#half_arrow_balra img {
  display: flex;
  height: auto;
  max-height: 100vh;
}

a#bemutakozas_anchor, a#projekt_anchor {
  text-decoration: none;
}

a.bovebben {
  text-decoration: none;
  color: $grey5;
  font-weight: 800;

}
article {
    margin-left: calc(100vw * 0.2);
    margin-right: calc(100vw * 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* PROJEKTEK_LANDPAGE */

#landpage_projektek {
  width: 100%;
  height: auto;
  position: relative;
  background-color: $grey4;
  z-index: 2;
  overflow: hidden;
  flex-direction: column;
}

/* KAPCSOLAT_LANDPAGE */

#kapcsolat {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $grey6;
  z-index: 5;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#kapcsolat_title {
  width: 100%;
  display: flex;
  justify-content: center;
}

#kapcsolat_title p {
  font-weight: 700;
  font-size: 1.25 rem;
  padding-bottom: 2rem;
  color: $grey3;
}

.kapcsolat_infok {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 2rem;
}

.kapcsolat_infok span, .kapcsolat_infok a {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  align-items: center;
  font-weight: 300;
  font-size: 1rem;
  color: $grey4;
  text-decoration: none;
}

.kapcsolat_infok img {
  padding-right: 1rem;
}

/* LANDPAGE VÉGE */

/* BEMUTATKOZAS_KÜLSŐ */

.background_all {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#bemutatkozas_bigpic {
  top: 4rem;
  left: 0;
  margin-bottom: -4rem;
  position: sticky;
  width: 100%;
  height: calc(100vh);
  display: flex;
  justify-content: center;
  background-image: url('../probakepek/probakep_1.png');

  padding-left: 2rem;
  padding-right: 2rem;
}


.fixed_background {
  position: relative;
  height: 50vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.fx_bg_1 {
  background-image: url('../probakepek/hands-engineer-working-blueprint-construction-concept-engineering-tools-vintage-tone-retro-filter-effect-soft-focus-selective-focus.jpg');
}
.fx_bg_2 {
  background-image: url('../probakepek/businessman-making-stack-wooden-pegs.jpg');
}

.sticky2 {
  position: sticky;
  bottom: 0 ;
  left: 0;
  z-index:2;
}

.overlay_img_width {
  opacity: 0.9;
  width: calc(100vmax * 0.38);
  max-width: 100%;
  align-self: center;
}

.bemutakozas_div {
  width: 100vw;
  height: auto;
  background-color: $grey4;
}

.grey3, .grey4, .grey5, .grey6, .grey7 {
  width: 100%;
  min-height: 50vh;
  position: relative;
  z-index: 9998;
  display: flex;
  align-items: center;
}

.grey3 {
  background-color: $grey3;
}

.grey4 {
  background-color: $grey4;
}

.grey5 {
  background-color: $grey5;
}

.grey6 {
  background-color: $grey6;
}

#bemutatkozas_vege {
  width: 100%;
  height: calc(100vmin * 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
}

#bemutatkozas_vege img{
  max-width: calc(100% * 0.75);
  max-height: calc(100% * 0.75);

}


#pic1 {
  z-index: 5;
}

#pic2 {
  z-index: 4;
}


.bemutakozas_div article {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

#bemutatkozas_container {
  padding-bottom: 0rem;
}

/* PROJEKTEK_KÜLSŐ */

.projekt {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.projekt_valaszto_container {
  width: 100%;
  display: flex;
  top: 0;
  position: relative;
}

#projekt_valaszto {
  top: 0;
  position: relative;
  width: 100%;
  height: calc(100vh - 4rem);
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.projekt_select {
  width: 50%;
  height: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
}

.projekt_select#kesz {
  background-image: url("../IMG/Proba_kep/projekt_proba_1.jpg");
  display: flex;
  align-self: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.projekt_select#folyamatban {
  background-image: url("../IMG/Proba_kep/projekt_proba_2.jpg");
  object-fit: cover;
}

.projekt_select img {
  opacity: 0.9;
  width: calc(100vh * 0.5);
  max-width: 100%;
  align-self: flex-end;
}

.projekt_select :hover {
  transform: scale(1.05);
}

.projekt_select#folyamatban{
  justify-content: flex-end;
}

.img_fit {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding-bottom: 1rem;
}

/* KÉSZ PROJEKTEK KÜLSŐ */

.projekt_title {
  padding-bottom: 2rem;

  h3 {
    font-size: 2rem;
    font-weight: 300;
  }

}

#kesz_projektek {
  width: 100%;
  min-height: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projekt_box a {
  text-decoration: none;
}

.projekt_box span {
  padding-top: 2rem;
  font-size: 1.25rem;
  text-decoration: none!important;
  text-decoration-line: none;
  color: $grey4;
}

.projekt_box img:hover {
  animation: fadeInBox 2000ms, strongerText 2000ms;
}

.projekt_box span:hover {
  animation: strongerText 2000ms;
}

@keyframes fadeInBox {
  0% { opacity: 1;}
  50% { opacity: 0.5;}
  100% { opacity: 1;}
}

@keyframes strongerText {
  0% { font-weight: 300;}
  50% { font-weight: 800;}
}

.projekt_box_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.projekt_box_container .projekt_box {
  width: 320px;
  height: calc(320px + 1rem);
  padding: 1rem;
}

/* KÉSZ PROJEKTEK */

.projekt_elem_container {
  width: 100%;
  min-height: calc(100vh - 4rem);
  display: flex;
  flex-direction: row;
  padding-top: 2rem;
}

.projekt_kepes_resz {
  width: 66%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  padding-left: 2rem;
  padding-right: 2rem;
  /*background-color:$grey5;*/
  justify-content: center;
}

.projekt_szoveges_resz {
  width: 33%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-right: 2rem;
}

/* PROJEKT KÉP és LEÍRÁS*/

.imagebox {
  width: calc(100vw * 0.6);
  height: calc(100vw * 0.40);
  display: flex;
  position: relative;
  overflow: hidden;
}

.carousel-inner {
  height: 100%;
  object-fit: cover;
}

.carousel-item {
  height: 100%;
  object-fit: cover;
}

.carousel-item img {
  height: 100%;
  object-fit: cover;
}


/* MEDIA */

/* MIN 1024px */

@media only screen and (min-width: 1024px) {
 
  .navbar-expand-lg .navbar-collapse {
    display: flex;
    justify-content: flex-end;
    }

 p {
  font-size: 1.25rem;
  line-height: 2rem;
  }
}

/* MAX 1024px */

@media only screen and (max-width: 1024px) {
 
  #projekt_valaszto {
    top: 0;
    position: relative;
    width: 100%;
    height: calc(100vh - 4rem);
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .projekt_select {
    width: 100%;
    height: 50vh;
  }

    
}

/* KISEBB MINT 768px */

@media only screen and (max-width: 768px) {
  
  .separator, .separator_start, .separator_end {
    width: 100%;
    max-height: 33vh;
    }
 
  article {
    display: flex;
    justify-content: center;
    margin-left: calc(100vw * 0.125);
    margin-right: calc(100vw * 0.125);
    }

.cim h2 {
  font-weight: 100;
  }

h3 {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  text-transform: uppercase;
  }
}

/* KISEBB MINT 576px */


@media only screen and (max-width: 576px) {

  .kapcsolat_infok {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
}

.kapcsolat_infok span {
  padding-bottom: 1rem;
  }

  .icon_48px {
    width: 48px;
    height: auto;
  }

  .cim h2 {
    font-weight: 500;
  }
  .projekt_elem_container {
    flex-direction: column;
  }

  .projekt_kepes_resz {
    width: 100%;
    height: auto;
  }

  .imagebox {
    width: calc(100vw);
    height: calc(100vw * 0.625);
    display: flex;
    position: relative;
    overflow: hidden;
  }

  .projekt_szoveges_resz {
    width: 100%;
    padding-top: 2rem;
    padding-left: 2rem;

  }

}